.flip-horizontally {
    transform: scaleX(-1);
}

.flip-vertically {
    transform: scaleY(-1);
}

.frame {
    width: 1210px;
}

#bulle {
    position: relative;
    top: -282px;
    left: -108px;
}

#question {
    position: relative;
    top: -410px;
    left: -314px;
    font-size: 46px;
}


#reponse-decor {
    float: right;
}

input {
    font-size: 46px;
}

#score {
    float: right;
    position: relative;
    top: -566px;
    left: 645px;
    font-size: 73px;
    text-align: right;
}

#scorePourcent {
    float: right;
    position: relative;
    top: -566px;
    left: 645px;
    font-size: 73px;
    text-align: right;
}

#reponse {
    background-color:white
}

#reponse.bonne {
    background-color:green;
}

#reponse.mauvaise{
    background-color: red;
}