.flip-horizontally {
    transform: scaleX(-1);
}

.flip-vertically {
    transform: scaleY(-1);
}

.frame {
    width: 1210px;
}

#bulle {
    position: relative;
    top: -27px;
    left: -40px;
    width: 221px;
}

#question {
    position: relative;
    top: -122px;
    left: -214px;
    font-size: 46px;
}


#reponse-decor {
    position: relative;
    top: 400px;
    left: 50%;
}

input {
    font-size: 46px;
}

#score {
    float: right;
    position: relative;
    top: -566px;
    left: 645px;
    font-size: 73px;
    text-align: right;
}

#scorePourcent {
    float: right;
    position: relative;
    top: -566px;
    left: 645px;
    font-size: 73px;
    text-align: right;
}

#reponse {
    background-color: white
}

#reponse.bonne {
    background-color: green;
}

#reponse.mauvaise {
    background-color: red;
}

body.bonne {
    background-color: green;
}

body.mauvaise {
    background-color: red;
}

img.fond {
    width: 400px;
    top: 185px;
    position: relative;
}